<ul id="slmk_form_errors" style="display:none"></ul>
<form id="slmk_form_{{ form.id }}">

	{% for field in form.fields %}

		{% for type in ['text', 'textarea', 'select', 'radio', 'file'] %}

			{% if field.type == type %}

				{% include 'partial/form/' ~ type ~ '.twig' %}

			{% endif %}

		{% endfor %}

	{% endfor %}

	{% if has_required_fields %}
		<p>* Required</p>
	{% endif %}

	<button class="btn btn-primary">
  		<span class="spinner-border spinner-border-sm" role="status" style="display:none" aria-hidden="true"></span>
		Submit
	</button>

</form>

<section id="slmk_form_submitted" style="display:none">
	<div style="min-height:40vh;display:flex;justify-content:center;align-items:center">
		<h3>Your information has been submitted, thank you</h3>
	</div>
</section>

<script>
	new SLMKForm({
		formId: {{ form.id }},
		brandSlug: "{{ brand_slug }}",
		formEndpoint: "{{ slmk_api_form_endpoint }}"
	});
</script>
