<div _ngcontent-c5="" class="social-link mb-4">
    {% if facebook_link|length > 0 %}
    <a _ngcontent-c5="" target="_blank" href="{{ facebook_link }}" class="ng-star-inserted">
        <i _ngcontent-c5="" class="fa fa-facebook ng-star-inserted"></i>
    </a>
    {% endif %}

    {% if youtube_link|length > 0 %}
    <a _ngcontent-c5="" target="_blank" href="{{ youtube_link }}" class="ng-star-inserted">
        <i _ngcontent-c5="" class="fa fa-youtube ng-star-inserted"></i>
    </a>
    {% endif %}

    {% if twitter_link|length > 0 %}
    <a _ngcontent-c5="" target="_blank" href="{{ twitter_link }}" class="ng-star-inserted">
        <i _ngcontent-c5="" class="fa fa-twitter ng-star-inserted">
        </i>
    </a>
    {% endif %}

    {% if instagram_link|length > 0 %}
    <a _ngcontent-c5="" target="_blank" href="{{ instagram_link }}" class="ng-star-inserted">
        <i _ngcontent-c5="" class="fa fa-instagram ng-star-inserted"></i>
    </a>
    {% endif %}
</div>
